---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="404">
  <div class="notfound">
    <p class="mark">* * *</p>
    <p>ここには何もありません。</p>
    <p><a href="/">ホームへ</a></p>
  </div>
</BaseLayout>
